<%include('bloks/header')%>
</head>
<body>
    <%- include('bloks/nav') -%>
    </nav>
    <div class="container">
        <h1 class="coming-soon">COMING SOON</h1>
    </div>
    <%- include('bloks/footer') -%>
</body>
</html>
