<%- include('bloks/header') -%>
</head>
<body>
    <%- include('bloks/nav') -%>

    <div class="container mt-4">
        <h1 class="text-center">Latest Gaming News</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="card news-card">
                    <img src="img/steam.jpg" class="card-img-top" alt="News Image">
                    <div class="card-body">
                        <h5 class="card-title">Another Steam record: more than 18 thousand games were added to the store in a year</h5>
                        <p class="card-text">Valve's digital store continues to break its own records year after year. According to data from SteamDB, users downloaded 18,825 video games in 2024, up 24% from the previous year.</p>
                        <a href="#" class="btn">Read More</a>
                        <div class="comments-section">
                            <h6>Comments</h6>
                            <ul class="list-unstyled">
                                <li><strong>User1:</strong> Great article!</li>
                                <li><strong>User2:</strong> Can't wait to try new games.</li>
                            </ul>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </div>
                                <button type="submit" class="btn btn-sm">Post Comment</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card news-card">
                    <img src="img/nier.png" class="card-img-top" alt="News Image">
                    <div class="card-body">
                        <h5 class="card-title">NieR: Automata has surpassed 9 million copies sold</h5>
                        <p class="card-text">By the end of the year, Square Enix and PlatinumGames employees shared updated figures for NieR: Automata. According to statistics, the developers have managed to sell over 9 million copies of the game over the entire period. The calculation takes into account both physical sales and digital circulation.</p>
                        <a href="#" class="btn">Read More</a>
                        <div class="comments-section">
                            <h6>Comments</h6>
                            <ul class="list-unstyled">
                                <li><strong>User3:</strong> This looks amazing!</li>
                                <li><strong>User4:</strong> Thanks for the review.</li>
                            </ul>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </div>
                                <button type="submit" class="btn btn-sm">Post Comment</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card news-card">
                    <img src="img/Dreadout.jpg" class="card-img-top" alt="News Image">
                    <div class="card-body">
                        <h5 class="card-title">Indonesian Horror DreadOut Coming to PS5 and Switch in January</h5>
                        <p class="card-text">Soft Source Publishing and Indonesian studio Digital Happiness have announced that the DreadOut Remastered Collection will launch on January 16 on PlayStation 5 and Switch.</p>
                        <a href="#" class="btn">Read More</a>
                        <div class="comments-section">
                            <h6>Comments</h6>
                            <ul class="list-unstyled">
                                <li><strong>User5:</strong> This is very helpful!</li>
                            </ul>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </div>
                                <button type="submit" class="btn btn-sm">Post Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="popular-titles">
                    <h5>Popular Titles This Month</h5>
                    <ul>
                        <li>
                            <a href="https://www.game.co.uk/blog/most-anticipated-games-2024#:~:text=The%2010%20Most%20Anticipated%20Games%20of%202024%201,8.%20Dragon%27s%20Dogma%202%20%288.8%25%29%20...%20%D0%94%D1%80%D1%83%D0%B3%D0%B8%D0%B5%20%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B" style="color: #ffffff;">Most Anticipated Game of 2024</a>
                        </li>
                        <li>
                            <a href="https://www.pcgamer.com/best-gaming-laptop/" style="color: #ffffff;">Top 10 Gaming Laptops</a>
                        </li>
                        <li>
                            <a href="https://www.polygon.com/elden-ring-guide-walkthrough/24173795/elden-beast-boss-fight-how-to-beat" style="color: #ffffff;">Guide to Beat the Final Boss</a>
                        </li>
                        <li>
                            <a href="https://gaming.lenovo.com/news/post/exclusive-interview---generation-zero-05hXXM0QmWFSfdv" style="color: #ffffff;">Exclusive Interview with Game Developer</a>
                        </li>
                        <li>
                            <a href="https://www.gameffine.com/get-ready-for-2025-the-pc-game-releases-you-need-to-know-about/" style="color: #ffffff;">Upcoming Game Releases You Can't Miss</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include('bloks/footer') -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
