<%- include('bloks/header') -%>
    <title>Game Information</title>
   <link rel="stylesheet" href="css/games.css">
</head>
<body>
    <%- include('bloks/header') -%>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <h1 class="mt-4">Platforms</h1>

        <!-- Game Cards -->
        <div id="platforms" class="row">
            <!-- Здесь будут отображаться игры -->
        </div>
    </div>

    <!-- Footer -->
    <%- include('bloks/footer') -%>

    <!-- JavaScript -->
    <script src="server.js"></script> <!-- подключение вашего JS -->
    <script src="js/platf.js"></script>
    <script>
        async function fetchPlatforms() {
            try {
                const response = await fetch('/api/platforms'); // Используем маршрут /api/platforms
                const platforms = await response.json();
    
                const platformsContainer = document.getElementById('platforms');
                platforms.forEach(platform => {
                    const card = document.createElement('div');
                    card.className = 'col-md-4 mb-4';
    
                    card.innerHTML = `
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">${platform.name}</h5>
                                <p class="card-text">Количество игр: ${platform.games_count}</p>
                            </div>
                        </div>
                    `;
                    platformsContainer.appendChild(card);
                });
            } catch (error) {
                console.error('Ошибка при загрузке платформ:', error);
            }
        }
    
        // Вызов функции при загрузке страницы
        fetchPlatforms();
    </script>
    
    
</body>
</html>
