<%include bloks/header%>
</head>
<body>
    <div class="container">
        <%include bloks/nav%>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="confim-password">Password:</label>
                <input type="confim-password" id="confim-password" name="confim-password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
    </div>
    <%include bloks/footer%>
</body>
</html>
