<footer class="text-center p-4">
        <p>&copy; 2025 Game Info | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">MadiyarMukhambet MadiOrazbek DanelAkhmetova</a></p>
    </footer>