<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gaming World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games">Games List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Platforms">Platforms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/discounts">Promotion in Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventory">View frend's Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">API history</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <% if (user.isAdmin) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin Panel</a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>  
                    </li>
                <% } %>
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><%= user.username %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

